
* {
  margin: 0;
  padding: 0;
  box-sizing: borde-box;
  text-decoration: none;
  font-family: "Poppins";
}

body {
  font-family: system-ui;
  background: #72e7c3 ;
  color: black;
  text-align: center;
}

div {
  text-align: center;
  width:100%;
}
iframe{
  width: 700px;
}
